## Data Type:

data type is nothing it is represent the which type of data are store in container or variable

#### There are categories of datatype

1. Numeric Types
2. Boolean Type
3. Sequence Types
4. Set Types
5. Mapping Type
6. None Type

There are categories of Numeric Type

1. int
2. float
3. complex

There are categories of Boolean Type

1. bool

there are categories of Sequence Type

1. str
2. list
3. bytes
4. bytearray
5. typle
6. range

there are categories of set type

1. set
2. frozenset

Mapping Type

1. dict

None Type

1. None Type

In [1]:
a = 10

In [2]:
 type(a)

int

In [3]:
b = 10.45
type(b)

float

In [4]:
c = "sanjan"
type(c)

str

In [5]:
c = "A"
type(c)

str

In [6]:
a = 12345678903467436834783487347

In [7]:
type(a)

int

#### Important points regarding Python's data types

1. Data type in python are **dynamic**
2. size of the data type is also **dynamically managed**
3. data types are **unbounded**

#### Data types in python are dynamic

* The term **dynamic** means that we can assign different values to the same variable at different points of time

* Python will **dynamically change** the type of variable as per the value given

there is no need of defining types of variable. we can directly variable and assign value it automatically dedict

if you want to create **statical variable** you can

In [2]:
a: int = 89
print(a)

89

In [3]:
age: int = 20
name: str = "sanjan pandit"
print(f' your age is {age} and name is {name}')

 your age is 20 and name is sanjan pandit

There is no predefine size of datatype

In [9]:
import sys
a = 2
sys.getsizeof(a)

28

In [10]:
a = 200
sys.getsizeof(a)

28

In [11]:
a = 258866558544558855995
sys.getsizeof(a)

36

In [12]:
a = 2588665585445588559958595889555789559
sys.getsizeof(a)

44

### Boolean Type

It has only two values True and False. True is treated as 1 and False is treated as 0

In [13]:
True + True + True

3

In [14]:
True + False

1

In [15]:
False + False

0

In [16]:
True & True

True

In [17]:
True & False

False

In [18]:
False & False

False

In [19]:
True | False

True

In [20]:
False | False

False

### String

* *String* is a collection of characters
* We can use **single quotes** or **double-quotes** to represent strings

In [21]:
a = "sanjan pandit"
type(a)

str

In [22]:
a

'sanjan pandit'

if we start defining a **string** with a single quote then definitely close with a single quote and also vice versa otherwise get **syntax error**

In [23]:
a = " sanjan '
a

SyntaxError: unterminated string literal (detected at line 1) (2262117342.py, line 1)

In [5]:
a = '''let's learn "python"'''
print(a)

let's learn "python"

Multiline string

In [25]:
a = """        my
        name
        is 
        sanjan"""
print(a)

        my
        name
        is
        sanjan

# Type conversion

The process of converting the value of one data type ( integer, string, float, etc) to another data type is called Type Conversion

Python has two types of type conversion

* Implicit Type Conversion
* Explicit Type Conversion

**Implicit Type Conversion:** Automatically converts one data type to another data type

* This process doesn't need any programmer involvement
* let's see an example where python promotes conversion of **int** to **float**

In [7]:
a = 10
b = 20.4
c = a + b
print(c)
type(c)

30.4

float

here above example python automatically covert **a** in float

**Explicit Type Conversion:** convert by the user or programmer one type to another type

In [27]:
a = 10
type(a)

int

In [28]:
b = float(a)
print(b)

10.0

In [29]:
a = '10'
b = '20'
print(a+b)

1020

In [30]:
print(int(a)+int(b))

30

#### You have to take two input from the user and have to substract it

In [3]:
a = eval(input("Enter first number"))
b = eval(input("Enter 2nd number"))
print(f"The sum is {a + b}")

Enter first number 70
Enter 2nd number 70

The sum is 140

### Sequence Type

sequence types are built-in data structures that represent a collection of items, typically in a specific order.

1. List
2. Tupple
3. Set
4. Range

### 1. List

A list in Python is an ordered, mutable sequence of elements, which means the elements can be changed, added, or removed after the list has been created. Lists are one of the most commonly used data types in Python due to their flexibility and versatility.

#### Syntax

[Item1,Item2,Item3,......]

### Operation
     1. Indexing, 
     2. slicing, 
     3. concatenation, 
     4. repetition, etc.

In [7]:
list = ['Fruits',5,8.5,True]
print(list)

['Fruits', 5, 8.5, True]

### Tuple

A tuple in Python is an immutable, ordered collection of items. Unlike lists, which are mutable, tuples cannot be changed after they are created. Tuples are typically used to store collections of heterogeneous data, meaning they can contain items of different types

#### Syntax

tuple = (6,"string",6.7,True) or

tuple =1, 2, 3, 'a', 'b', 'c'

### Operations:

1. Concatenation:
2. Repetition:
3. Membership Testing:

## String:

A string in Python is a sequence of characters enclosed within single quotes (`'...'`), double quotes (`"..."`), or triple quotes (`'''...'''` or `"""..."""`). Strings are immutable, meaning once they are created, their contents cannot be changed.

#### String Creating

In [46]:
# Single quotes
string1 = 'Hello, World!'

# Double quotes
string2 = "Hello, World!"

# Triple quotes for multi-line strings
string3 = '''This is a
multi-line string.'''

string4 = """This is also a
multi-line string."""

print(string1, string2,string3, string4 )

Hello, World! Hello, World! This is a
multi-line string. This is also a
multi-line string.

#### Operations

1. Indexing:
2. Slicing:
3. Concatenation:
4. Repetition

### Set

set is an unordered collection of unique elements. It is defined by the set class

#### Syntax: 
            You can create a set using curly braces '{}' or the 'set()' constructor:
            set = {1, 2, 3, 4,6,5,4,1}

In [21]:
set = {1, 2, 3, 4,6,5,4,1}
print(set)

{1, 2, 3, 4, 5, 6}

### Operations

1. union,
2. intersection,
3. difference

## Mapping Type

Only one type of Mapping data Type which is Dictonary

* A dictionary is an unordered collection of items. 
* Each item in a dictionary is a key-value pair. 
* Dictionaries are mutable, meaning they can be changed after creation. 
* They are used to store data values like a map, which, unlike other data types that hold only a single value as an element, can hold a key

Syntax:

dictionary = {
    key1: value1,
    key2: value2,
    key3: value3,
    ...
}

Example:

In [49]:
# Creating a dictionary
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

# Accessing a value by its key
print(person["name"])  # Output: Alice

# Adding a new key-value pair
person["job"] = "Engineer"

# Modifying an existing key-value pair
person["age"] = 31

# Deleting a key-value pair
del person["city"]

# Looping through dictionary keys
for key in person:
    print(key, person[key])

Alice
name Alice
age 31
job Engineer

We will see one by one 'Sequence type ' and 'Map type' in detail in upcoming file