# Dictionary

Python dictionary is an unordered collection of elements. It map keys to values and these key-value pairs provide a useful way to store data in python.

**Syntax:**<br>
dictionary_name = { key_1: value_1,key_2: value_2,key_3: value_3,}

**Create Dictionary**<br>
Separate keys from values with a colon(:), and a pair from another by a comma(,). Put it all in curly braces

In [1]:
# create dictionary
balance = {
    "Mia" : 83847,
    "John" : 83837,
    "Jill" : 94766,
    "1289":8545
}
print(balance)

{'Mia': 83847, 'John': 83837, 'Jill': 94766, '1289': 8545}

**Accessing Items**<br>
Use the key name inside the square brackets to access the elements from a dictionary

In [2]:
# Get the value for key "Mia" 
x = balance["Mia"]
x

83847

We can use get method to get the value of "Mia" key

In [3]:
x = balance.get("Mia")
x

83847

**Change Values**<br>
Change the value of a specific element by referring to its key name

In [4]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

year_sales

{2015: 34500, 2016: 34300, 2017: 40000}

In [5]:
# Change the sales figure for 2015
year_sales[2015] = 45000

year_sales

{2015: 45000, 2016: 34300, 2017: 40000}

**Dictionary Length**

In [6]:
# print the length of dictionary
print(len(year_sales))

3

**Adding Items**<br>
Add an item to the dictionary by using a new index key and assign a value to it

In [7]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

year_sales['2018'] = 55000

year_sales

{2015: 34500, 2016: 34300, 2017: 40000, '2018': 55000}

### Dictionary Method

**Removing Items**

Following are the methods to remove items from a dictionary:
1. keys() method
1. values() method
1. items() method
1. pop() method
1. popitem() method
1. del keywords
1. clear() method
1. copy() method
1. update() method

**keys()**

In [1]:
# declare a dictionary containing information of cars and their respective horsepowers
horsepower = {'BMW':949 , 'Mercedes':945 ,'Ferrari':954 ,'Volkswagen': 976,'Renault ':889}

Let us now check now call the keys of the dictionary

In [2]:
horsepower.keys()

dict_keys(['BMW', 'Mercedes', 'Ferrari', 'Volkswagen', 'Renault '])

It is possible to check whether a key belongs to the dictionary or not using the keyword 'in'

In [3]:
'Honda' in horsepower

False

In [4]:
'BMW' in horsepower

True

**values()**

Let us now check the values for all the keys in the dictionary

In [5]:
horsepower.values()

dict_values([949, 945, 954, 976, 889])

However, like keys of the dictionary it is not possible to check whether a value belongs to the dictionary or not using the keyword 'in'

In [6]:
934 in horsepower

False

In [7]:
949 in horsepower

False

The values '934' and '949' are considered to be keys in the above cells. Since there are no such keys in the dictionary 'False' is returned.

**items()**

The function item() returns the key along with its value.

In [8]:
horsepower.items()

dict_items([('BMW', 949), ('Mercedes', 945), ('Ferrari', 954), ('Volkswagen', 976), ('Renault ', 889)])

It is possible to access the elements of the dictionary. It can be done as follows:

In [9]:
a = horsepower.items()
a = list(a)
a[1]

('Mercedes', 945)

**pop()**<br>
Remove the element with the specified key name

In [10]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# remove key from dictionary
year_sales.pop(2015)

year_sales

{2016: 34300, 2017: 40000}

**popitem()**<br>
It removes the last inserted item

In [11]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# remove last item from the dictionary
year_sales.popitem()

year_sales

{2015: 34500, 2016: 34300}

**del keyword**<br>
delete the item with the specified key name

In [12]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# delete item from the dictionary
del year_sales[2015]

year_sales

{2016: 34300, 2017: 40000}

**clear()**<br>
The clear() keyword empties the entire dictionary

In [13]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# clear the dictionary
year_sales.clear()

year_sales

{}

**Copy()**<br>
You cannot copy a dictionary by using dict2 = dict1, because dict2 will only be a reference to dict1, and changes made in dict1 will also be made in dict2.
Use copy() method to make copy of dictionary

In [14]:
# create a dictionary
year_sales1 = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# make a copy of dictionary
copy_dict = year_sales.copy()

**update()**<br>
Add and modify dictionaries by using the dict.update() method

In [15]:
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# update dictionary
year_sales.update({2018:30000})

year_sales

{2015: 34500, 2016: 34300, 2017: 40000, 2018: 30000}

In [10]:
sampleDict = dict([
    ('first', 1),
    ('second', 2),
    ('third', 3)
])
print(sampleDict)
print(sampleDict.keys())
sampleDict.get('first')

{'first': 1, 'second': 2, 'third': 3}
dict_keys(['first', 'second', 'third'])

1

In [2]:
sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}
sampleDict['class']['student']['marks']['history']
#sampleDict.get((['class']['student']['marks']).'history')

80

In [13]:
student = { 
  "name": "Emma", 
  "class": 9, 
  "marks": 75 
}
student.pop("marks")
student

{'name': 'Emma', 'class': 9}

In [14]:
dict1 = {"key1":1, "key2":2}
dict2 = {"key2":2, "key1":1}
print(dict1 == dict2)

True

In [75]:
dict1 = {"name": "Mike", "salary": 8000}
#temp = dict1.get("salary")
print(dict1.get("salary"))
aTuple = (100,)
print(aTuple * 2)
aTuple = "Yellow", 20, "Red"
a, b, c = aTuple
print(a)
tuple1 = ('1120', 'a')
print(max(tuple1))
aTuple = ("Orange", [10, 20, 30], (5, 15, 25))
aTuple[1][1]
aTuple = ({"Orange",})
print(type(aTuple))
var = "James" * 2  * 3
print(var)
x = 36 / 4 * (3 +  2) * 4 + 2
print(x)
sampleSet = {"Jodi", "Eric", "Garry"}
sampleSet.add( "Vicki")
print(sampleSet)
for i in range(10, 15, 2):
    print( i, end=', ')
def calculate (num1, num2=4):
    res = num1 * num2
    print(res)

calculate(5, 6)
for i in range(1, 5):
    print(i)

if i<4:
    print("this is elif block ",i)
else:
    print("this is else block statement" )
print(bool(0), bool(3.14159), bool(-3), bool(1.0+1j))
print(type(0xFF))
print(type([]) is list)

8000
(100, 100)
Yellow
a
<class 'set'>
JamesJamesJamesJamesJamesJames
182.0
{'Garry', 'Jodi', 'Vicki', 'Eric'}
10, 12, 14, 30
1
2
3
4
this is else block statement
False True True True
<class 'int'>
True