# List

A python list is a collection of items that are ordered. It implements the sequence protocol, and also allows you to add and remove elements from the sequence. We can use the index in square brackets, [ ], to identify a value belonging to the list by position.

###### Constructing Lists
To create a list, use square brackets [] and separate items in the list with commas. A list can be empty or contain any number of items with different data types (integers, float, strings, etc.)

#### create an empty list

In [1]:
# create an empty list
empty_list = []
empty_list

[]

In [2]:
# Use the built-in list type object to create lists
empty_list = list()
empty_list

[]

#### nested lists

In [3]:
# A list can also hold another list as an element, these are called nested lists
# nested list
my_list = [['Data Science','Machine Learning'],[135,232,321]]
my_list

[['Data Science', 'Machine Learning'], [135, 232, 321]]

#### Indexing:
Use the index operator [ ]. Each element in a list has an assigned index value. Note that the indexing in python starts from 0 and every index must be an integer and end with `length-1`

In [3]:
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

#### Element accessing using index

In [2]:
# access the second item of a list at index 1
print(course[1])

machine learning

In [4]:
print(course[len(course)-1])

big data

#### we can also access using -ve index

In -ve indexing, the index always starts with `-length of list` and end with `-1`

In [3]:
# access the second item of a list at index -2
print(course[-2])

html

In [8]:
print(course[-len(course)])

data science

#### Slicing of List

list[ start : stop : step]

In [7]:
# print first three element from the list
course[:3]

['data science', 'machine learning', 'python']

#### Print last element to the index `2` from the list

In [8]:
course[2:]

['python', 'html', 'big data']

#### print the all elements to the list

In [9]:
course[:]

['data science', 'machine learning', 'python', 'html', 'big data']

#### print first four elements

In [10]:
course[0:4]

['data science', 'machine learning', 'python', 'html']

In [11]:
# print the length of the list
len(course)

5

#### Iteration in list

In [12]:
# print all the element of the list using indexing
for i in range(0,len(course)):
    print(course[i])

data science
machine learning
python
html
big data

In [13]:
# print all the element of the list
for i in course:
    print(i)

data science
machine learning
python
html
big data

#### Change Item Value using indexing

In [14]:
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# change the third item
course[3] = 'statistics'
course

['data science', 'machine learning', 'python', 'statistics', 'big data']

#### we can also change Multiple Items at a time

In [10]:
course[0:3]=["data analysis", "data engineer", "Data Science"]
course

['data analysis', 'data engineer', 'Data Science', 'html', 'big data']

#### Operations

In [15]:
# How many elements are there in the list?
Product_Prices = [120, 450, 780, 670]
len(Product_Prices)

4

In [16]:
# what is the maximum value in the list?
max(Product_Prices)

780

In [17]:
# what is the minimum value in the list?
min(Product_Prices)

120

The max() & min() cannot be used on a list with mixed data types

In [4]:
Product_Prices = [120, '450', 780, '670']
print(max(Product_Prices))

TypeError: '>' not supported between instances of 'str' and 'int'

we can many more operations

#### List Methods

Python has built-in methods that you can use on list:
1. append()
1. insert()
1. extend()
1. sort()
1. del 
1. clear()
1. remove()
1. pop()
1. reverse()

#### list.append(item)
                To insert items in the list to the last end

In [19]:
course1 = ['data science', 'machine learning', 'python', 'html', 'big data' ]

course2 = ['statistics']

# add element to the list
course1.append(course2)
course1

['data science',
 'machine learning',
 'python',
 'html',
 'big data',
 ['statistics']]

#### list.insert(i, item)
                        To insert item a specific position

In [20]:
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# insert element at 2nd index in a list
course.insert(2, 'statistics')
course

['data science',
 'machine learning',
 'statistics',
 'python',
 'html',
 'big data']

#### list.extend(items)
Extend method perform margin two list in one list

In [11]:
course1 = ['data science', 'machine learning', 'python', 'html', 'big data']
course2 = ['artificial intelligence', 'deep learning']

# concatenate the list
course1.extend(course2)

print(course1)

['data science', 'machine learning', 'python', 'html', 'big data', 'artificial intelligence', 'deep learning']

#### list.sort(key, reverse)
sorting the list ascending or descending order it is depends on reverse argument

In [2]:
income = [2500, 25000, 10000, 50000, 20000, 5000, 17500]
# sort() function is used to sort the numeric values in the list in ascending order
income.sort()
income

[2500, 5000, 10000, 17500, 20000, 25000, 50000]

In [23]:
# set the reverse parameter to False to arrange the elements in the descending order
income.sort(reverse = True)
income

[50000, 25000, 20000, 17500, 10000, 5000, 2500]

In [24]:
# We can also sort a collection of strings by their length using the key parameter
sentence = ['a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'frog']
sentence.sort(key = len)
sentence

['a', 'fox', 'the', 'over', 'lazy', 'frog', 'quick', 'brown', 'jumps']

#### Deleting List Elements
Use the del keyword to delete an item at specific index

In [25]:
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# delete the third element from the list
del course[2]
course

['data science', 'machine learning', 'html', 'big data']

In [26]:
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# delete multiple items from the list
del course[0:2]
course

['python', 'html', 'big data']

#### clear
The clear method resets the list to an empty state

In [27]:
sentence = ['a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'frog']
sentence.clear()
sentence

[]

#### remove
It will search and remove only the first occurrence of an item

In [28]:
course = ['data science', 'machine learning', 'python', 'html', 'big data', 'html' ]
course.remove('html')
course

['data science', 'machine learning', 'python', 'big data', 'html']

#### Pop
Removes and returns the last item of a list

In [2]:
course = ['data science', 'machine learning', 'python', 'html', 'big data', 'html' ]
course.pop(1)
print(course)

['data science', 'python', 'html', 'big data', 'html']

#### reverse
It reverses the order of the items in a list

In [31]:
course = ['data science', 'machine learning', 'python', 'html', 'big data', 'html' ]
course.reverse()
course

['html', 'big data', 'html', 'python', 'machine learning', 'data science']

### Common List Operations

**Concatenation(+)**<br>
The '+' operator is used to combine i.e. concatenate two lists

In [12]:
course1 = ['data science', 'machine learning', 'python', 'html', 'big data' ]
course2 = ['artificial intelligence']

print(course1 + course2)

['data science', 'machine learning', 'python', 'html', 'big data', 'artificial intelligence']

**Repetition(*)**

The ' * ' operator is used to repeat a list 'n' number of times. The 'n' is specified by the user
Note: 'n' should be positive

In [13]:
course1 = ['data science', 'machine learning', 'python', 'html', 'big data' ]

print(course1*2)

['data science', 'machine learning', 'python', 'html', 'big data', 'data science', 'machine learning', 'python', 'html', 'big data']

In [50]:
course = ['data science', 'machine learning', 'python', 'html', 'big data', 'html' ]
course1=course.reverse()
course

['html', 'big data', 'html', 'python', 'machine learning', 'data science']