# Sets

* It is a collection of `unique items`.
* It is used to `eliminate duplicate` items from a list or tuple.
* It is an `unordered` data structure or data type 
* It also supports set operations like `union intersection` and `difference`.
* Set contains `heterogeneous data type`
* set create a set using `{}` or `set()` function

#### **Creating Set**
In Python sets are written with curly brackets

#### Creating a set using `{}`

When you print a set, Python internally determines the order in which the elements are displayed. This order can seem arbitrary and may change between different runs of the program. The reason for this is that sets are implemented using hash tables, and the order of elements depends on their hash values, which can be influenced by many factors including the order of insertion and the specific implementation details of the Python runtime.

In [20]:
age_set = {11, 12, 31, 13, 24, 32, 33, 21, 23, 12,"sanjan"}
print (age_set)

{32, 33, 11, 12, 13, 21, 23, 24, 'sanjan', 31}

When you run this code, the output might be {32, 33, 11, 12, 13, 21, 23, 24, 'sanjan', 31}, or it might be different each time you run it, but it will always include the same elements. The specific order of the elements in the output is not guaranteed to be consistent across different runs.

#### creating a set using `set()` funtion to the list

In [21]:
set([1, 2, 3, 4])

{1, 2, 3, 4}

Observed that the set contains unique items only even though we put duplicates into it

A set can contain elements of different data types

#### Creating a set using `{}` brackets

In [25]:
new_set = {12, 12, 'python', 4, 'world'}
new_set

{12, 4, 'python', 'world'}

Accessing elements to the sets is not possible because sets are not allowed to access elements using index

In [26]:
new_set[2]

TypeError: 'set' object is not subscriptable

Following are the methods that you can use on sets:
1. add()
2. clear()
3. copy()
4. difference()
5. difference_update()
6. discard()
7. intersection()
8. intersection_update()
9. isdisjoint()
10. issubset()
11. issuperset()
12. pop()
13. remove()
14. symmetric_difference()
15. symmetric_difference_update()
16. union()
17. update()

#### **Change Items**
Once a set is created, you cannot modify its items, but you can add new items

**Add Items**<br>
Use add() method to add one item to a set<br>
Use update() method to add more than one item

In [28]:
my_set = {'python', 'world'}

#### add element in set

In [29]:
my_set.add("hi")
my_set

{'hi', 'python', 'world'}

`clear()`: Removes all elements from the set

In [44]:
my_set.clear()
my_set

set()

`copy()`: Returns a shallow copy of the set.

In [47]:
my_set = {1,2,3,4,5,6,7}
your_set = my_set.copy()
your_set

{1, 2, 3, 4, 5, 6, 7}

#### Add multiple items to a set using the `update method`

In [30]:
my_set.update(['data science', 'machine learning'])

my_set

{'data science', 'hi', 'machine learning', 'python', 'world'}

**Length of Set**

In [32]:
len(my_set)

5

#### **remove() method**<br>
Use remove() method to remove an item in a set

In [33]:
my_set = {'data science', 'machine learning', 'python', 'world'}

my_set.remove('data science')

my_set

{'machine learning', 'python', 'world'}

 #### discard() method is like to remove it is also discarding element

In [34]:
my_set = {'data science', 'machine learning', 'python', 'world'}

my_set.discard('data science')

my_set

{'machine learning', 'python', 'world'}

#### **pop() method**
Randomly Removes and returns an arbitrary set element. Raises `KeyError` if the set is empty.

In [35]:
my_set = {'data science', 'machine learning', 'python', 'world'}
my_set.pop()

'data science'

In [43]:
my_set1= {1,2,3,"data", "science"}
my_set1.pop()

'science'

**Set Operations**

**Disjoint set:**
if the two sets have no common elements

In [2]:
print (set([11, 12, 22, 33, 4]).isdisjoint(set([41, 1])))

True

**Checking for subset**<br>
Use issubset() method to check whether all elements of a set are contained in another set

In [10]:
# check whether one set 'a' is a subset of the 'b'
a = set([1, 3, 4, 5])
b = set([1, 3, 4, 5, 6])
print('Is a subset of b?', a.issubset(b))

Is a subset of b? True

**Set Union**<br>
Use union() method to compute the union of two or more sets

In [11]:
a = set([1, 2, 3])
b = set([3, 4, 5, 6])
print (a.union(b))

{1, 2, 3, 4, 5, 6}

**Set Intersection**<br>
Take intersection to find the common elements

In [51]:
a = set([12,34,56,78])
b = set([12,45,67,89,78])
c = set([12,34,56,78,56])
print (a & b)
print(a.intersection(b))


print (a & b & c)
print(a.intersection(b,c))

{12, 78}
{12, 78}
{12, 78}
{12, 78}

In [54]:
# Define the original set
set_a = {1, 2, 3, 4, 5}

# Define sets to be removed from the original set
set_b = {3, 4}
set_c = {5, 6}

# Use difference_update to remove elements of set_b and set_c from set_a
set_a.difference_update(set_b, set_c)

# Print the updated set_a
print(set_a)

{1, 2}

**Set Difference**<br>
It returns a new set containing all items from the first set that are not in the other set

In [48]:
a = set([23,45,56,77,89])
b = set([23,45,54,33,23])
print(a.difference(b))
print(a - b)

{56, 89, 77}
{56, 89, 77}